source https://api.nuget.org/v3/index.json

framework: net45, netstandard1.6

nuget FSharp.Core
nuget SoftWx.Numerics.Portable

group Test
    source https://api.nuget.org/v3/index.json

    framework: net462
    
    nuget FSharp.Core
    nuget Expecto
    nuget Expecto.FsCheck
    nuget FsUnit 
    nuget MathNet.Numerics ~> 3.6
    nuget NUnit
    nuget NUnit.ConsoleRunner

group Build
    source https://api.nuget.org/v3/index.json

    nuget FAKE