source https://api.nuget.org/v3/index.json

framework: netstandard1.6

nuget FSharp.Core
nuget SoftWx.Numerics.Portable

group Test
    source https://api.nuget.org/v3/index.json

    framework: net462
    
    nuget FSharp.Core
    nuget Expecto
    nuget Expecto.FsCheck

group Build
    source https://api.nuget.org/v3/index.json

    nuget FAKE